.navig{
    
    &__p1{
        

    }
    &__button{
        color: black;
        background-color: blue;
        width: auto;
        position: absolute;
        top: 0%;
        right: 20%;
            }
}